html,body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
h1,h2,h3,h4,h5,h6,ul,li,p,a,div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
* {
    box-sizing: border-box;
}

$grey: #999;
$btn-color: #f40090;

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #eee;
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 350px;
        height: 350px;
        header {
            display: flex;
            justify-content: center;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    background: #ccc;
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    display: inline-block;
                }
                h1,h2 {
                    color: #0e659d;
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    margin-left: 10px;
                }
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.12em;
                }
            }
        }
        form {
            margin-top: 30px;
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 15px;
            transition: box-shadow .5s ease-out;
            label {
                align-self: center;
                width: 95%;
                color: $grey - 50;
                font-size: .8em;
                input {
                    display: block;
                    line-height: 170%;
                    width: 100%;
                    margin-top: 3px;
                    border: 1px solid #cbcbcb;
                    outline: none;
                    color: #444;
                    padding: 5px;
                    border-radius: 3px;
                    &::-webkit-input-placeholder { 
                      color: #e74c3c;
                    }
                }
                &:nth-child(2) {
                    margin-top: 10px;
                }
            }
            footer {
                margin-top: 10px;
                align-self: center;
                width: 95%;
                div {
                    display: flex;
                    justify-content: space-between;
                    button {
                        cursor: pointer;
                        -webkit-appearance: none;
                        border: 0;
                        color: #fff;
                        background: $btn-color;
                        padding: 10px 15px;
                        border-radius: 50px;
                        text-transform: uppercase;
                        opacity: .8;
                        outline: none;
                        transition: background .3s ease-out;
                        &:hover {
                            background: $btn-color - 50;
                            color: #fff;
                        }
                        &:active {
                            background: $btn-color + 50;
                        }
                    }
                    a {
                        text-decoration: underline;
                        color: $grey + 25;
                        line-height: 35px;
                    }
                }
            }
            &:hover {
                //background: #eee;
                -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
                box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
            }
        }
        footer {
            text-align: center;
            padding-top: 30px;
            p {
                color: $grey;
                a {
                    color: $grey;
                    text-decoration: underline;
                }
            }
        }
    }
}

// .error {
//     border: 1px solid #e74c3c;
// }
